* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surfaca-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.1);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surfaca-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /* background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
*/
  /* Agrupando todos os valores na order abaixo para simplificar a escrita:
background: color image repeat position/size */
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container1 {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0;
  padding: 0 24px;
}
/* Profile */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  /* elementos inline não é possivel aplicar a margen: auto*/
  /*display: block;*/
  width: 112px;
  /*margin: auto;*/
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin: 8px;
}

/* Switch */

#switch {
  width: 64px;
  position: relative;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  padding: 8px;
  border: 8px;
  border-radius: 50%;

  /*Posicionar elementos*/
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.2s;
}


.light #switch button {
  /* left: initial;
  right: 0; */
  animation: slide-in 0.2s forwards ;
}
#switch button:hover {
  -webkit-box-shadow: 0px 2px 8px 8px var(--highlight-color); 
  /* outline: 8px solid var(--highlight-color); */
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surfaca-color);
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  border: 1px solid var(--stroke-color);
  background: var(--surfaca-color);
  border-radius: 8px 20px;
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/* peseudo-selector */
ul li a:hover {
  border: 1.5px solid var(--text-color);
  background: var(--surface-color-hover);
}

#social-icons {
  display: flex;
  font-size: 24px;
  padding: 24px 0;
  justify-content: center;
}

#social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

#social-icons a:hover {
  background-color: var(--highlight-color);
}

footer {
  padding: 24px 0;
  font-size: 14px;
  text-align: center;
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
